// ULs / Ols
.list-unstyled {
  list-style: none;
}

// DIVs
.flex-list {
  @include flexList(3rem);
}
.grid-flex-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  justify-content: center;
  column-gap: 3rem;
  margin: 0 15rem;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  display: none !important;
}
.slideUp {
  transform: scaleY(0);
  transform-origin: center top;
  overflow: hidden !important;
  height: 0 !important;
  padding: 0rem !important;
  margin: 0 !important;
}
.faq-checked {
  transform: rotate(180deg);
  color: $color-red-soft !important;
}
// TEXT
.text-upper {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

// MARGINs
.mt-xs {
  margin-top: 1rem;
}
.mt-sm {
  margin-top: 2rem;
}
.mt-md {
  margin-top: 3rem;
}
.mt-lg {
  margin-top: 4rem;
}
.mt-xl {
  margin-top: 5rem;
}

.mb-xs {
  margin-bottom: 1rem;
}
.mb-sm {
  margin-bottom: 2rem;
}
.mb-md {
  margin-bottom: 3rem;
}
.mb-lg {
  margin-bottom: 4rem;
}
.mb-xl {
  margin-bottom: 5rem;
}

.mr-xs {
  margin-right: 1rem;
}
.mr-sm {
  margin-right: 2rem;
}
.mr-md {
  margin-right: 3rem;
}
.mr-lg {
  margin-right: 4rem;
}
.mr-xl {
  margin-right: 5rem;
}

.ml-xs {
  margin-left: 1rem;
}
.ml-sm {
  margin-left: 2rem;
}
.ml-md {
  margin-left: 3rem;
}
.ml-lg {
  margin-left: 4rem;
}
.ml-xl {
  margin-left: 5rem;
}
